/* Redefined configuration in page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    background-color: #e4e3e3ee;
}

header {
    position: relative;
}

/* Style in arrow blue box */
.ArrowBox {
    background-color: rgb(11, 11, 105);
    width: 50%;
    height: 85px;
    margin-top: 30px;
    text-align: center;
    line-height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 35px;
}

/* Style text in title about page */
.ArrowBox span {
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(221, 221, 0);
    margin-left: 10px;
}

/* Style in logo icon */
.logo_container {
    width: 22%; /* ajuste o tamanho do logo */
    height: 22%; /* ajuste o tamanho do logo */
    position: absolute; /* adicionou essa propriedade para posicionar o logo absolutamente */
    top: -10px; /* posiciona o logo no topo do header */
    right: 0; /* posiciona o logo no lado direito do header */
}

/* Style in logo icon image */
img {
    width: 40%;
    height: auto;
    margin-right: 50%;
    transition: all 0.7s;
}

/* Style when move cursor in image logo */
img:hover {
    transform: scale(1.2);
}

.Top_Title {
    position: relative;
    display: flex;
}

/* Orange Box - MINI */
.Mini_box {
    width: 2%;
    height: 35px;
    background-color: rgb(248, 170, 1);
    margin-top: 25px;
}

/* Style in title top */
.Title_Informations {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 9%;
    margin-top: 30px;
    font-weight: bolder;
    color: rgb(11, 11, 105);
}

.form_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

form {
    width: 45%;
    margin: 20px;
}

/* Style in title first name */
.First_name {
    color: rgb(11, 11, 105);
    font-size: 20px;
}

/* Style in field form in part about first name */
#First_name {
    width: 90%;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid rgb(11, 11, 105);
    margin-top: 12px;
    padding: 10px;
    color: rgb(2, 2, 73);
}

/* Style in title about GENDER */
.Gender_part {
    font-size: 20px;
    color: rgb(11, 11, 105);
    margin-top: 20px; /* ajuste o valor para o espaço desejado */
    display: block;
}

/* Style in male and female buttons */
#male {
    width: 28px;
    height: 35px;
    margin-top: 12px;
    margin-right: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
}

#female {
    width: 28px;
    height: 35px;
    margin-top: 12px;
    margin-left: 9%;
    margin-right: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
}

/* Style in date of birth */
.date_birth {
    font-size: 20px;
    color: rgb(11, 11, 105);
}

/* Style in field date of birth */
#dob {
    margin-top: 12px;
    width: 90%;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid rgb(11, 11, 105);
    margin-top: 12px;
    padding: 10px;
    font-size: 15px;
    color: rgb(1, 1, 54);
    margin-bottom: 20px;
}

.address_title {
    font-size: 20px;
    color: rgb(11, 11, 105);
}

/* Style in field address */
#address {
    margin-top: 12px;
    width: 90%;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid rgb(11, 11, 105);
    padding: 10px;
    font-size: 15px;
    color: rgb(1, 1, 54);
    margin-bottom: 20px;
}

/* Style in title about city */
.city_title {
    font-size: 20px;
    color: rgb(11, 11, 105);    
}

/* Style in field about city */
#city {
    margin-top: 12px;
    width: 90%;
    height: 35px;
    text-transform: uppercase;
    border: 1px solid rgb(11, 11, 105);
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

/* Style in title Last name */
.Last_name {
    color: rgb(11, 11, 105);
    font-size: 20px;
}

/* Style in field form in part about Last name */
#Last_name {
    width:  95%;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid rgb(11, 11, 105);
    margin-top: 12px;
    margin-bottom: 15px;
    padding: 10px;
    color: rgb(2, 2, 73);
}

/* Style in title Phone */
.Phone_title {
    color: rgb(11, 11, 105);
    font-size: 20px;
}

/* Style in field form in part about Phone */
#phone {
    width:  95%;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid rgb(11, 11, 105);
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    color: rgb(2, 2, 73);
}

/* Style in title Email */
.email {
    color: rgb(11, 11, 105);
    font-size: 20px;
}

/* Style in field form in part about Email */
#email {
    width:  95%;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid rgb(11, 11, 105);
    margin-top: 12px;
    padding: 10px;
    color: rgb(2, 2, 73);
}

/* Style in title Last name */
.Last_name {
    color: rgb(11, 11, 105);
    font-size: 20px;
}

/* Style in field form in part about Last name */
#Last_name {
    width:  95%;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid rgb(11, 11, 105);
    margin-top: 12px;
    padding: 10px;
    color: rgb(2, 2, 73);
}